[submodule "api"]
	path = api
	url = git@github.com:voikin/mm-api.git
	branch = main
[submodule "users"]
	path = users
	url = git@github.com:voikin/mm-user.git
	branch = main
[submodule "generator"]
	path = generator
	url = git@github.com:voikin/mm-generation.git
	branch = main
